.video{
    /* display: flex; */
    width:'600px';
    height:'600px';
    
}

.multi-video{
    width:'700px';
    height:'700px';
    /* text-align: center; */
    margin: auto;
    display: flex;
}